.c-form{
  padding:30px 15px;
  @include min-screen($bp_tb_v){
    padding:60px 15px;
  }
  @include min-screen($bp_base){
  }

  &__inner{
    padding:60px 15px 90px;
    background: #fff;
    @include min-screen($bp_tb_v){
      max-width: 640px;
      margin-right: auto;
      margin-left: auto;
      padding: 60px 60px 120px;
    }
    @include min-screen($bp_base){
    }
  }

  &__item{
    @include min-screen($bp_tb_v){
    }
    @include min-screen($bp_base){
    }

    input:not([type="submit"]),
    select{
      width: 100%;
      height: 54px;
      padding: 15px;
      font-size: 16px;
      background: #fff;
      border: 1px solid $gray;
      transition: border-color $transition;

      &:focus{
        border-color: #000;
      }

    }

    select{
      padding-right: 39px;
      background: resolve('icon-arrow-down.svg') no-repeat right 15px center;
      background-size: 9px;
    }

    + .c-form__item{
      padding-top: 60px;
      margin-top: 60px;
      border-top: 1px dotted $gray;
      @include min-screen($bp_tb_v){
      }
      @include min-screen($bp_base){
      }
    }
  }

  &__label{
    display: block;
    margin-bottom: 9px;
    font-size: 15px;
    line-height: 1.6;
    @include min-screen($bp_tb_v){
    }
    @include min-screen($bp_base){
    }
  }

  &__notes{
    display: block;
    padding: 9px;
    font-size: 9px;
    background: $lgray;
  }


  &__row{
    @include min-screen($bp_tb_v){
      display: flex;
      justify-content: space-between;
    }
    @include min-screen($bp_base){
    }

    &-item{
      @include min-screen($bp_tb_v){
        width: 49%;
      }
      @include min-screen($bp_base){
      }

      + .c-form__row-item{
        margin-top: 9px;
        @include min-screen($bp_tb_v){
          margin-top: 0;
        }
      }
    }
  }

  &__submit{
    display: block;
    width: 100%;
    max-width: 300px;
    height: 54px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
    color: #fff;
    background: #000;
    @include min-screen($bp_tb_v){
    }
    @include min-screen($bp_base){
    }
  }
}